.sign-in{
    padding: 25px;
<<<<<<< HEAD
    width: 30vw;
=======
    width: 380px;
>>>>>>> refs/remotes/origin/master
    display: flex;
    flex-direction: column;

    .title{
        margin: 10px 0px;
    }

    .buttons{
        display: flex;
        justify-content: space-between;
    }
}